<div class="container">
  <h1>{{ character.name }}</h1>

  <table>
    <tr>
      <th>Height</th>
      <td>{{ character.height }}</td>
    </tr>
    <tr>
      <th>Mass</th>
      <td>{{ character.mass }}</td>
    </tr>
    <tr>
      <th>Hair color</th>
      <td>{{ character.hair_color }}</td>
    </tr>
    <tr>
      <th>Skin color</th>
      <td>{{ character.skin_color }}</td>
    </tr>
    <tr>
      <th>Eye color</th>
      <td>{{ character.eye_color }}</td>
    </tr>
    <tr>
      <th>Birth year</th>
      <td>{{ character.birth_year }}</td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>{{ character.gender }}</td>
    </tr>
  </table>
</div>